<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict/>
		<key>sheetClusters</key>
		<dict>
			<key>Linux Perf Anay:From Netflix，In 60 Seconds.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>484237280.08804703</real>
				<key>lastModification</key>
				<real>484237280.08804703</real>
				<key>version</key>
				<dict>
					<key>08631ddd4622f9939f5e154c67c9fe0be8c24ab0d2b3ccd4c75264b2b1a69e24</key>
					<integer>53</integer>
				</dict>
			</dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>482231094.31727499</real>
				<key>version</key>
				<dict>
					<key>08631ddd4622f9939f5e154c67c9fe0be8c24ab0d2b3ccd4c75264b2b1a69e24</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Linux Perf Anay:From Netflix，In 60 Seconds.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>08631ddd4622f9939f5e154c67c9fe0be8c24ab0d2b3ccd4c75264b2b1a69e24</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>08631ddd4622f9939f5e154c67c9fe0be8c24ab0d2b3ccd4c75264b2b1a69e24</key>
			<integer>54</integer>
		</dict>
	</dict>
</dict>
</plist>
